<ul class="link">
    <li><a href="https://twitter.com/xBytezz" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://github.com/xBytez" target="_blank"><i class="fa fa-github"></i></a></li>
</ul>